// Define colors scss variables here.

/**
  * Named Colors.
  */
$brand-site-color: #a6f0c7;
$brand-black: #383838;
/* Black */
$brand-white: #f9efef;
/* White */
$brand-red: #d73413;
/* Red */
$brand-gold: #f9cf5b;
/* Gold */
$brand-green: #32920f;
/* Green */
