// Define colors scss variables here.

/**
  * Named Colors adjusted for dark mode.
  */
$brand-site-color: #ffd770;
$brand-black: #fff;
/* Inverted black */
$brand-white: #000;
/* Inverted white */
$brand-red: #b62e14;
/* Darker red */
$brand-gold: #c8a736;
/* Darker gold */
$brand-green: #2a8a12;
/* Darker green */
