.menu--main {
  ul {
    list-style: none;
    margin: 0;
  }
}
.menu--level-1 {
  display: flex;
  gap: 24px;

  > li {
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }

  button {
    border: 0;
    background: none;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 27px;
    color: #1475ad;
  }

  span {
    border: 0;
    background: none;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 27px;
    color: #1475ad;
  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu--level-1 > li > .menu__link--level-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu__item--level-1 {
  display: flex;
  align-items: center;

  &.menu__item--has-children > .menu__link--level-1 {
    &::after {
      content: '';
      display: block;
      border-right: 2px solid;
      border-bottom: 2px solid;
      height: 8px;
      width: 8px;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }
  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.menu__item--level-1.active > .menu__link--level-1 {
  &::after {
    transform: rotate(225deg) !important;
  }
}

.menu--main a {
  text-decoration: none;
  padding: 10px 15px;
}

.menu--level-2 {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  min-height: 250px;
  background-color: #f8f8f8;
  z-index: 1000;
  justify-content: space-around;
  padding: 40px;
  box-sizing: border-box;
  border-top: 2px solid #005fcc;

  @media only screen and (max-width: 767px) {
    position: relative;
    top: 0;
    width: 100%;
    min-height: auto;
  }
}

.menu--level-3 {
  .menu__link--level-3 {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.menu--level-2 > li {
  flex: 1;
}

.menu__item--level-2 > a {
  display: block;
  margin-bottom: 12px;
}

.menu__item--level-2 > span {
  display: block;
  margin-bottom: 12px;
}

.menu--level-1 > li:hover > .menu--level-2 {
  display: flex;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu__item--has-children:hover > .menu__link--level-1 {
  &::after {
    @media only screen and (min-width: 768px) {
      transform: rotate(225deg);
    }
  }
}

.header-nav {
  @media only screen and (max-width: 767px) {
    top: 55px;
    border: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding-bottom: 56px;

    nav {
      width: 100%;
    }
  }
}

.header-nav.visible {
  max-height: min-content;
  visibility: visible;
  overflow: scroll;
}

#menu-toggle[aria-expanded='true'] + .header-nav {
  visibility: visible;
}

.site-header__inner {
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.breadcrumb:after {
  display: none;
}

.breadcrumb__content {
  width: 100%;
}

.menu-active {
  display: flex;
}

body:has(.header-nav.visible) {
  overflow: hidden;
}
