// Define colors scss variables here.

/**
  * Named Colors.
  */
$brand-site-color: #a6baf1;
$brand-black: #000;
/* Black */
$brand-white: #fff;
/* White */
$brand-red: #e33f1e;
/* Red */
$brand-gold: #fdca40;
/* Gold */
$brand-green: #3fa21c;
/* Green */
$brand-grey: #d6d6d6;
